.ui-font-weight-light {
  font-weight: var(--font-weight-light);
}

.ui-contact--information {
  margin-top: var(--spacing-xs);
  font-style: italic;
}

.ui-contact--call-to-action-msg {
  font-size: var(--font-size-lg);
}
