<div class="contact-info contact-card">
  <div class="contact-info__accent"></div>
  <p
    class="ui-font-weight-light ui-contact--information ui-contact--call-to-action-msg"
  >
    J'ai hâte de vous lire
  </p>
  <h4 class="ui-heading-6">Email</h4>
  <p class="ui-font-weight-light ui-contact--information">
    <span class="contact-icon">✉️</span>
    <a href="mailto:ouassim@benmosbah.fr" class="contact-badge">
      ouassim&commat;benmosbah.fr
    </a>
  </p>
  <h4 class="ui-heading-6">Téléphone</h4>
  <p class="ui-font-weight-light ui-contact--information">
    <span class="contact-icon">📞</span>
    <a href="tel:+33626740855" class="contact-badge">06 26 74 08 55</a>
  </p>
</div>
