<div class="contact">
  <h2>Contactez-moi</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nom</label>
      <input id="name" type="text" formControlName="name" />
      <div *ngIf="name.invalid && name.touched" class="error">
        <span *ngIf="name.hasError('required')">Le nom est requis.</span>
        <span *ngIf="name.hasError('minlength')"
          >Le nom doit contenir au moins 3 caractères.</span
        >
      </div>
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />
      <div *ngIf="email.invalid && email.touched" class="error">
        <span *ngIf="email.hasError('required')">L'email est requis.</span>
        <span *ngIf="email.hasError('email')">L'email n'est pas valide.</span>
      </div>
    </div>

    <div>
      <label for="message">Message</label>
      <textarea id="message" formControlName="message"></textarea>
      <div *ngIf="message.invalid && message.touched" class="error">
        <span *ngIf="message.hasError('required')">Le message est requis.</span>
        <span *ngIf="message.hasError('minlength')"
          >Le message doit contenir au moins 10 caractères.</span
        >
      </div>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
  </form>
</div>
