<div class="ui-contact">
  <h2>Contact me</h2>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="ui-form-group">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" placeholder="John" />
      @if (contactForm.controls.name.hasError('required')) {
      <mat-error>Field is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="example@example.com"
      />
      @if (contactForm.controls.email.hasError('required')) {
      <mat-error>Field is <strong>required</strong></mat-error>
      } @if (contactForm.controls.email.hasError('email')) {
      <mat-error>Email format invalid.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label for="message">Message</mat-label>
      <textarea matInput formControlName="message"></textarea>
      @if (contactForm.controls.message.hasError('required')) {
      <mat-error>Field is <strong>required</strong></mat-error>
      } @if (contactForm.controls.message.hasError('minlength')) {
      <mat-error>The message must contain at least 10 characters.</mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      [disabled]="contactForm.invalid"
      type="submit"
      matTooltip="Submit form"
      aria-label="Button that submit form on click"
    >
      Submit
    </button>
  </form>
</div>
