.ui-project-preview {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: var(--spacing-xl);
}

.ui-text-container {
  flex: 0.4;
  margin-right: var(--spacing-md);
}

h6 {
  margin: 0 0 var(--spacing-md);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

p {
  font-size: var(--font-size-md);
  color: #666;
}

.ui-project-demo-container {
  flex: 0.35;
  min-width: 250px;
}

.ui-project-demo {
  width: 100%;
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-sm);
}
