<div class="ui-project-preview">
  <div class="ui-text-container">
    <h6>{{ title() }}</h6>
    <p>{{ description() }}</p>
    <div class="ui-project-badges">
      <a
        *ngIf="projectSrc()"
        class="badge badge-src"
        [href]="projectSrc()"
        target="_blank"
        rel="noopener"
        (mouseup)="blurTarget($event)"
      >
        Code source
      </a>
      <a
        *ngIf="demoSrc()"
        class="badge badge-demo"
        [href]="demoSrc()"
        target="_blank"
        rel="noopener"
        (mouseup)="blurTarget($event)"
      >
        Démo live
      </a>
    </div>
  </div>
  <div class="ui-project-demo-container">
    <img
      *ngIf="previewSrc()"
      class="ui-project-demo"
      [src]="previewSrc()"
      [alt]="imgAlt()"
    />
  </div>
</div>
