@use "components/app.component" as app;
@use "index" as variables;

:host {
  height: 100%;
}

.ui-home {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xxl);
  height: calc(100% - #{app.$header-height});
  justify-content: center;
}

.ui-home--profile-picture-wrapper,
.ui-home--introduction-section {
  flex: 1;
}

.ui-home--profile-picture-wrapper {
  display: flex;
  justify-content: end;
}

.ui-home--profile-picture {
  $profile-picture-max-radius: 400px;
  border: var(--spacing-sm) solid var(--default-theme-primary-color);
  border-radius: 50%;
  box-shadow: var(--box-shadow-md);
  max-width: $profile-picture-max-radius;
  max-height: $profile-picture-max-radius;
  object-fit: cover;
  width: 100%;

  transition-property: box-shadow, transform;
  transition-duration: var(--standard-transition-duration);

  &:hover {
    transform: scale(1.025);
  }
}

.ui-home--introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px var(--spacing-md);
}

.ui-home--action-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
  padding-top: var(--spacing-lg);
}

.ui-home--introduction-section-description {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
}

@media screen and (max-width: variables.$breakpoint-lg) {
  .ui-home {
    display: block;
    overflow: auto;
  }

  .ui-home--profile-picture-wrapper {
    padding: var(--spacing-lg) 0;
  }

  .ui-home--action-buttons-wrapper {
    justify-content: center;
  }

  .ui-heading-1__mobile {
    display: flex;
    justify-content: center;
  }
}
