<div class="ui-home">
  <div class="ui-home--profile-picture-wrapper">
    <img
      class="ui-home--profile-picture"
      src="/assets/images/profile-picture.jpeg"
      alt="Ouassim BEN MOSBAH"
    />
  </div>
  <div class="ui-home--introduction-section">
    <h1 class="ui-heading-1 ui-heading-1__mobile">Hello</h1>
    <div>
      <h2 class="ui-heading-6">Développeur front-end spécialisé en Angular</h2>
      <p class="ui-home--introduction-section-description">
        Du besoin à la prod : je conçois des interfaces claires, solides et
        maintenables.
      </p>
      <div class="ui-home--action-buttons-wrapper">
        <app-redirect-button
          url="/resume"
          backgroundColor="var(--default-theme-primary-color)"
        >
          CV
        </app-redirect-button>

        <app-redirect-button
          url="/projects"
          backgroundColor="var(--default-theme-secondary-color)"
        >
          Projets
        </app-redirect-button>

        <app-redirect-button
          url="/contact"
          backgroundColor="var(--default-theme-info-color)"
        >
          Contact
        </app-redirect-button>
      </div>
    </div>
  </div>
</div>
