:root {
  // Colors
  --default-theme-primary-color: #e4b363;
  --default-theme-secondary-color: #d95d5d;
  --default-theme-accent-color: #f4a5ae;
  --default-theme-success-color: #4caf50;
  --default-theme-error-color: #d32f2f;
  --default-theme-warning-color: #ffc107;
  --default-theme-info-color: #2196f3;

  --default-theme-font: #1f1f1f;
  --default-theme-background: #fdf6ec;
}
