@use "base/mixins/positions" as positions;
@use "components/app.component" as app;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.ui-menu-header {
  height: app.$header-height;
  position: sticky;
  top: 0;
}
