.ui-button {
  border: solid 1px black;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  height: 140px;
  transition: background-color 400ms ease-out, transform 400ms ease-out;
  width: 140px;

  &:hover {
    background-color: white !important;
    transform: rotate(360deg);
  }
}
