<div class="ui-home-content">
  <img
    class="ui-profile-picture"
    src="/assets/images/profile-picture.jpeg"
    alt="My profile picture"
  />
  <div class="ui-introduction-section">
    <h1>Salut</h1>
    <div>
      <h3>Je suis Ouassim BEN MOSBAH</h3>
      <p>
        Développeur web spécialisé en Angular et NestJS, je dispose d'une solide
        expertise dans la création d'applications robustes et performantes.
      </p>
      <div>
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>
  </div>
</div>
