@use "index" as variables;

.ui-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--spacing-xl);
}

.ui-menu--title {
  margin: auto 0;
}

.ui-menu--nav-list {
  display: flex;
  gap: var(--spacing-md);
  line-height: 2rem;
  list-style: none;
}

.ui-menu--list-item:not(:first-child) {
  border-left: var(--border-display) var(--default-theme-font);
  padding-left: var(--spacing-lg);
}

a.ui-unstyled-link {
  color: inherit;
  text-decoration: none;
}

a.ui-menu--list-item-link {
  transition: color var(--standard-transition-duration);

  &:hover {
    color: var(--default-theme-primary-color);
  }
}

@media screen and (max-width: variables.$breakpoint-lg) {
  .ui-menu {
    margin: 0;
  }

  .ui-menu--title {
    display: none;
  }

  .ui-menu--nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .ui-menu--nav-list {
    padding: 0;
  }
}
