<div class="ui-home-content">
  <div class="ui-profile-picture-wrapper">
    <img
      class="ui-profile-picture"
      src="/assets/images/profile-picture.jpeg"
      alt="My profile picture"
    />
  </div>
  <div class="ui-introduction-section">
    <h1 class="ui-heading-1 ui-text-center">Hello</h1>
    <div>
      <h4 class="ui-heading-4 ui-text-center">Je suis Ouassim BEN MOSBAH</h4>
      <p>
        Développeur web spécialisé en Angular et NestJS, je dispose d'une solide
        expertise dans la création d'applications robustes et performantes.
      </p>
      <div class="ui-action-buttons-wrapper ui-text-center">
        <app-redirect-button
          class="ui-redirect-button"
          url="/resume"
          backgroundColor="orange"
        >
          CV
        </app-redirect-button>

        <app-redirect-button
          class="ui-redirect-button"
          url="/projects"
          backgroundColor="lightpink"
        >
          Projets
        </app-redirect-button>

        <app-redirect-button
          class="ui-redirect-button"
          url="/contact"
          backgroundColor="cyan"
        >
          Contact
        </app-redirect-button>
      </div>
    </div>
  </div>
</div>
