:host {
  margin: auto;
}

.ui-home-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
}

.ui-home-content {
  .ui-profile-picture-wrapper,
  .ui-introduction-section {
    flex: 1;
    gap: 16px;
  }
}

.ui-profile-picture-wrapper {
  display: flex;
  justify-content: end;
}

.ui-profile-picture {
  border-radius: 50%;
  max-width: 400px;
  object-fit: cover;
  width: 100%;
}

.ui-introduction-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 32px;
}

.ui-heading-1 {
  font: 500 5rem / 3rem Roboto, sans-serif;
}

.ui-heading-4 {
  font-weight: 400;
}

.ui-action-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.ui-text-align {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .ui-home-content {
    flex-direction: column;
  }

  .ui-action-buttons-wrapper {
    justify-content: center;
  }
}
