@use "index" as variables;

.ui-projects-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-lg);
}

@media screen and (max-width: variables.$breakpoint-lg) {
  .ui-projects-list {
    padding-top: 0;
  }

  .ui-projects-list app-project-preview:not(:last-child)::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--default-theme-secondary-color);
    margin: var(--spacing-lg) 0;
  }
}
